.main{
     background: url('../Asset/image/background.svg');
     width: 100%;
     height: 100vh;
     background-position: center;
     background-size: cover;
}
.inner-card{
     border: 1px solid rgba(255, 255, 255, 0.3);
     background: rgba(255, 255, 255, 0.2);
     backdrop-filter: blur(2px);
}
.sidebar{
     background: rgba(255, 255, 255, 0.4);
     
}

.back{
     background-color: rgba(255,255,255,0.2);
     backdrop-filter: blur(1px);
     
}